/*FOOTER START */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-primary);
    margin-top: 268px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 12px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 129px;

}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid var(--color_dominante);
    border-radius: 6px;

}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow .i:hover,
footer a:hover {
    color: var(--color_dominante);
}

footer .copyright {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#footer-navbar {
    display: inline-block;
}

#footer-navbar li {
    list-style: none;
    padding: 6px 0px;
    position: relative;
}

#footer-navbar li a {
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s ease;
}

#footer-navbar li a:hover,
#footer-navbar li a.active {
    color: var(--color_dominante);
}

footer .logo{
    width: 80px;
    height: 120px;   
}

.contact-div {
    margin-top: 135px;
}

.contact-info {
    margin-top: -10px;
    list-style: none;
}

.contact-info li {
    display: flex;
    align-items: center;

}

.contact-info li a {
    padding-top: 12px;
}

.contact-link {
    text-transform: lowercase;
}
